nav button { margin-right: 0.25rem; margin-left: 0.25rem; }

.navigation-btn {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.2rem 0.4rem;
    position: relative;
    font-size: 0.6rem;
    color: #7a7a7a;
}

.navigation-btn:hover {
    color: #535353;
}

.navigation-btn:active {
    color: black;
}

.navigation-btn.chosen {
    border-radius: 0.5rem 0.5rem 0 0;
    color: black;
}

.navigation-btn.chosen::after {
    content: "";
    position: absolute;
    left: -0.5px;
    right: -0.5px;
    bottom: -0.15rem;
    height: 0.15rem;
    background-color: var(--tile-blue);
}
