:root {
    --tile-yellow: #fff67e;
    --tile-yellow-border: #c4b700;
    --tile-green: #7eff9f;
    --tile-green-border: #1fa741;
    --tile-blue: #8ac1ff;
    --tile-blue-border: #1f63b1;
    --tile-red: #ff9c88;
    --tile-red-border: #b93f26;
}
